* {
        max-width: 100vw;
        box-sizing: border-box;
    }

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin: 0em;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "p l t" /*pulsante menu a tendina(per telefono)  logo  bottoni(accedi carrello)*/
    "b" /*breadcrumb*/
    "c" /*contenuto*/
    "f"; /*footer*/
    display: block;
    grid-template-columns: 1fr;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.contenuto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

#logo{
    grid-area: l;
}
#logo p{
    display: none;
}
.bottoneMenu{
    grid-area: t;
}
#menu{
    display: none;
}
