body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin: 0em;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "p l t" /*pulsante menu a tendina(per telefono)  logo  bottoni(accedi carrello)*/
    "b" /*breadcrumb*/
    "c" /*contenuto*/
    "f"; /*footer*/
}

.contenuto{
    width: 100%;
}

#logo{
    grid-area: l;
}
#logo p{
    display: none;
}
.bottoneMenu{
    grid-area: t;
}
#menu{
    display: none;
}