/*
====================================================================================================================================
TUTTE LE PAGINE
====================================================================================================================================
*/
@media print{
    *{
        padding: 0;
        margin: 0;
    }
    @page{
        margin: 2cm;
    }
    body {
        display: block;
        font-family: "Georgia", "Times New Roman", Times, serif;
        color: black;
        background: none;
        font-size: 12pt;
        line-height: 1.5;
        overflow-x: hidden;
    }

/* ====================================
   ELEMENTI NASCOSTI
   ==================================== */
    nav#menu, 
    button, 
    .back-to-top, 
    .skip-link, 
    .header-icons, 
    #navigazione-footer,
    .cta-button,
    .category-badge
    {
        display: none;
    }

/* ====================================
   LINK
   ==================================== */
    a{
        text-decoration: none;
        color: black;
    }

/* ====================================
   INTESTAZIONI
   ==================================== */
    h1 {
        font-size: 20pt; 
    }
    h2 {
        font-size: 18pt;
    }
    h3 {
        font-size: 16pt;
    }
    h4, h5, h6{
        font-size: 14pt;
    }

/* ====================================
   ALTRI TAG TESTUALI
   ==================================== */
    p, dt, dd{
        text-align: justify;
    }
    ul, ol, li{
        list-style: circle;
    }
/* ====================================
   IMMAGINI
   ==================================== */
    img{
        border-radius: 12px;
    }

/*  ====================================
    LOGO
    ==================================== */
     #logo{
        margin-top: 0;     
        padding-top: 0; 
    }
    #logo h1, #logo p{
        display: block;
        text-align: center;
    }
    #logo h1 + p{
        margin-bottom: 0.5cm;
    }

/*  ====================================
    FOOTER
    ==================================== */
    footer{
        display: block;
        border: 1px solid black;
        border-radius: 12px;
        padding: 0.2cm 0.5cm;
        margin-top: 0.5cm;
    }
    footer h2{
        font-size: 14pt;
    }
    #copyright{
        text-align: center;
        margin: 0.2cm 0;
        font-size: 10pt;
    }
    #contatti{
        page-break-inside: avoid;
    }
    #contatti p{
        margin-right: 0.5cm;
    }
    #assistenzaClienti{
        margin-top: 0.2cm;
        page-break-inside: avoid;
    }
    #assistenzaClienti p{
        margin-right: 0.5cm;
    }

/* ====================================
   home.html
   ==================================== */
    .hero-content{
        margin-bottom: 0.5cm auto;
    }
    .hero-image img{
        display: block;
        margin: 1cm auto;   /*centrata con sopra e sotto 1cm*/
        width: 8cm;
        page-break-inside: avoid;
    }

/* ------------------------------------
   dolci famosi
   ------------------------------------ */
    .famous-sweets{
        margin: 0;
    }
    .sweet-card{
        display: block;
        page-break-inside: avoid;
    }
    .sweet-card dt{
        margin-top: 0.2cm;
        font-weight: bolder;
    }
    .sweet-card dd{
        margin-bottom: 0.2cm;
        margin-left: 0.5cm;
    }

/*  ====================================
    torte-pasticcini.html
    ==================================== */
    #grigliaTorte{
        display: block;
        margin: 1cm auto;
        list-style: none;
    }
    #grigliaTorte li {
        list-style: none;
    }
    .cardTorta > a{
        display: flex;
        flex-direction: row;
        align-items: center;
        page-break-inside: avoid;
    }
    .cardTorta img{
        display: block;
        width: 4cm;
        margin-top: 0.5cm;
        margin-right: 0.5cm;
    }
    .infoTorta{
        display: block;
        flex: 1;
    }
    .infoTorta h2 {
        font-size: 14pt;
    }

/*  ====================================
    story.html
    ==================================== */
    .story-description{
        margin-top: 0.5cm;
    }
    .values-list{
        margin-left: 0.5cm;
    }
    .griglia-team{
        display: block;
        list-style: none;
    }
    .griglia-team li {
        display: flex;
        flex-direction: row;       
        align-items: center;
        list-style: none;
        margin-bottom: 0.5cm;
        page-break-inside: avoid;
    }
    .griglia-team figure {
        display: flex;
        flex-direction: row;
    }
    .griglia-team img{
        width: 4cm;
        margin-right: 0.5cm;
    }
    .griglia-team figcaption {
        flex: 1;               
        padding-top: 0.2cm;
    }
    #team + p{
        margin-bottom: 0.5cm;
    }

/*  ====================================
    dettagliOrdine.html
    ==================================== */
    .dettagli-ordine{
        display: block;
        margin-bottom: 0.5cm;
    }

    .dettagli-ordine dt{
        margin-left: 0.2cm;
    }
    .dettagli-ordine dd{
        margin-left: 0.4cm;
    }
    .titolo-ordine::before{
        content: "";
        display: block;
        border-top: 1px solid black;
        padding-top: 0.5cm;
        margin-top: 0.5cm;
    }
    .dolce-ordinato{
        margin-left: 0.5cm;
        margin-bottom: 0.2cm;
        page-break-inside: avoid;
    }
    .dettagli-dolce dt, .dettagli-dolce dd{
        margin-left: 0.2cm;
    }
}
