*{  /*cancella le impostazioni predefinite*/
    padding: 0em;
    margin: 0em;
}
:root{
    --menubgcolor:#ffe09a;
    --menutextcolor: #1c0101;
    --menubgcurrentpage:#8b5437;
    --menutextcurrentpage:#fffff1;
    --bgcolor: #895437; /*header e menu*/
    --hoverbgcolor: color-mix(in srgb, var(--bgcolor) 80%, white);  /*colore schiarito del 20%*/
    --txtcolor:#fffff1; /*header e menu*/
    --breadcolor:#8b5437;
    --breadtextcolor:#fffff1;
    --contentbgcolorscuro:#1c0101;
    --contenttxtcolorscuro:#1c0101;
    --contentbgcolorchiaro:#ffe09a;
    --contenttxtcolorchiaro:#fffdd0;
    --visitedcolor: #3455db;
    /*
    --linkcolor: #fff;
    --visitedcolor: #f3c42b;
    --newscolor: #f3c42b;
    --newstxcolor:#000;
    --contentbgcolor:#fff;
    --contenttxtcolor:#000;*/
}

html, body{
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif; /*DA DECIDERE*/
    line-height: 1.5em;
}

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin: 0em;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "h h h" /*header*/
    "n n n" /*menu per desktop*/
    "b b b" /*breadcrumb*/
    "c c c" /*contenuto*/
    "f f f"; /*footer*/
}
.contenuto{
    max-width: 1200px; /*oltre i 1200px e' scommoda la lettura dl sito quindi e' un valore fisso che si puo' usare*/
    width: 100%;
    margin: auto;
}
/*
====================================================================================================================================
SEZIONE HEADER
====================================================================================================================================
*/
header{
    grid-area: h;
    background-color: var(--menubgcolor);
    position: relative;
    padding:  1.5em 0em;
    border: none;
    /*border-bottom: 10px double #1c0101 ;*/
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: url("../img/bordo_header.png");
  background-repeat: repeat-x;
  background-size: auto 30px;
}

header .contenuto{
    display: grid;
    grid-template-areas: "t l p";
    grid-template-columns: 1fr auto 1fr; 
    width: 100%;
    align-items: center;
}
#logo{
    grid-area: l;
    text-align: center;
}
#logo h1{
    background-image: url("../img/logo_compresso.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;
    font-size: 6em;
    line-height: 1.5em;
    margin-top:0.3em;  
}
#logo p{
    font-style: italic;
    font-weight: 800;
    font-size: larger;
    color: #8b5437;
    margin-bottom: 0.5em;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.bottoneMenu{
    display: none;
    grid-area: t;
}
#pulsantiMenu{
    grid-area: p;
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    padding-right: 0.5em;
}
.bottoneCarrello svg, .bottoneProfilo svg{
    width: 2.5em;
    height: 2.5em;
}
.bottoneCarrello:hover, .bottoneProfilo:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
/*
====================================================================================================================================
SEZIONE MENU'
====================================================================================================================================
*/
#menu{
    background-color: var(--menubgcolor);
    color: var(--menutextcolor);
    font-size: 1.3em;
    width: 100%;
    grid-area: n;
}
#menu a {
    transition: all 0.3s ease; 
}
#menu a:link{
    color:var(--menutextcolor)
}

#menu a:visited{
    color:var(--visitedcolor)
}
#menu a:hover{
    color:var(--menutextcurrentpage);
    background-color: var(--menubgcurrentpage);
    padding: 0.4em; 
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    border-radius:0.3em;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}


#menu ul{
    list-style-type: none;
    text-align: center;
}
#currentlink{
    background-color: var(--menubgcurrentpage);
    color: var(--menutextcurrentpage);
    padding: 0.3em; 
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    border-radius:1em 1em 0em 0em;
    box-shadow: 10px 4px 10px rgba(0,0,0,0.1);
}
#menu ul li{
    display: inline;
    margin-top:auto;
    flex: 1 1 200px;
    padding: 1em 0.4em;
    /*border: 2px groove var(--menubgcurrentpage);*/
}
#menu .contenuto{
    padding: 0em;
    margin: 0em auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

}
/*
====================================================================================================================================
SEZIONE BREADCRUMB
====================================================================================================================================
*/
#breadcrumb{
    background-color: var(--breadcolor);
    color: var(--breadtxtcolor);
    font-size: 1.1em;
    border: 1px solid var(--menutextcolor);
    padding: 0.5em 0em 0.5em 1.0em;
}
#breadcrumb .contenuto{
    text-align: left;
    width: 100%;
    grid-area: b;
}
/*
====================================================================================================================================
SEZIONE MAIN
====================================================================================================================================
*/
#presentazionePasticceria{
    grid-area: c;
    background-color: var(--contentbgcolorchiaro);
    color:var(--contenttxtcolorscuro);
    padding: 1.5em;
}
#presentazionePasticceria .contenuto{
    display: grid;
    grid-template-columns: 1fr 2fr; /* colonna immagine + colonna testo */
    padding: 1.5em;
}
#presentazionePasticceria img{
    grid-column: 1;
    width: 20em;
    max-width: 100%;
    background-color: white;
    border: solid 1px black;
    justify-self: start; /* forza l'immagine a sinistra */
}
.cornice{
    width: 20%;
    float: left;
    background: linear-gradient(45deg, var(--breadcolor), var(--contentbgcolorchiaro));
    padding: 0.5em;
}
#presentazionePasticceria .testo{
    grid-column: 2;
    align-content: center;
    padding: 1.5em;
}

#prodottiPrincipali{
    grid-area: c;
    background-color: var(--contentbgcolorchiaro);
    color: var(--contenttxtcolorscuro);
    padding: 1.5em;
}
#prodottiPrincipali .contenuto{
    display: grid;
    grid-template-columns: 2fr 1fr; /* colonna testo + colonna immagine */
    padding: 1.5em;
}
#prodottiPrincipali .testo{
    grid-column: 1;
}
#prodottiPrincipali .immagini{
    grid-column: 2;
    display: flex;            
    flex-direction: column;
    gap: 1em; 
    padding: 0 1.5em 0 1.5em;
}
#prodottiPrincipali .immagini img{  
    width: 20em;
    max-width: 100%;
    background-color: white;
    border: solid 1px black;
}
/*
------------------------------------------------------------------------------------------------------------------------------------
GRIGLIA TORTE
------------------------------------------------------------------------------------------------------------------------------------
*/
#grigliaTorte{
    background-color: var(--menubgcolor);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));    /*da 260px a 1fr*/
    gap: 1.5em;
    padding: 1.5em;
}
#grigliaTorte .cardTorta{
    color: var(--contenttxtcolorscuro);
    background-color: var(--contentbgcolorchiaro);
    border: solid;
    border-color: black;
    border-radius: 20px;
    overflow: hidden;   
    box-shadow: 10px 4px 10px rgba(0,0,0,0.1);
    text-decoration: none;     /* rimuove la sottolineatura del link */
    transition: transform 0.3s ease; /* effetto di transizione */
}
#grigliaTorte .cardTorta:hover{
    transform: translateY(-0.5em);     /* leggera “alzata” */
    box-shadow: 0 8px 16px rgba(0,0,0,0.15); /* ombra più intensa */
    background: var(--hoverbgcolor) 
}
#grigliaTorte img{
    width: 100%;    /*Riempie tutta la larghezza della card*/
}
#grigliaTorte .infoTorta{
    padding: 1em;
}
/*
====================================================================================================================================
SEZIONE FOOTER
====================================================================================================================================
*/
footer{
    grid-area: f;
    background-color: var(--breadcolor);
    color: var(--breadtxtcolor);
}

footer .contenuto{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: top;
}
#contatti{
    grid-column: 1;
}

#assistenzaClienti{
    grid-column: 2;
}