*{  /*cancella le impostazioni predefinite*/
    padding: 0em;
    margin: 0em;
}
:root{
    --menubgcolor:#ffe09a;
    --menutextcolor: #1c0101;
    --menubgcurrentpage:#8b5437;
    --menutextcurrentpage:#fffff1;
    --bgcolor: #895437; /*header e menu*/
    --txtcolor:#fffff1; /*header e menu*/
    --breadcolor:#8b5437;
    --breadtextcolor:#fffff1;
    --contentbgcolorscuro:#1c0101;
    --contenttxtcolorscuro:#1c0101;
    --contentbgcolorchiaro:#ffe09a;
    --contenttxtcolorchiaro:#fffdd0;
    --visitedcolor: #3455db;
    /*
    --linkcolor: #fff;
    --visitedcolor: #f3c42b;
    --newscolor: #f3c42b;
    --newstxcolor:#000;
    --contentbgcolor:#fff;
    --contenttxtcolor:#000;*/
}

html, body{
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif; /*DA DECIDERE*/
    line-height: 1.5em;
}

body{
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin: 0em;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "t l p" /*tendina menu(per telefono)  logo  bottoni(accedi carrello)*/
    "n n n" /*menu per desktop*/
    "b b b" /*breadcrumb*/
    "c c c" /*contenuto*/
    "f f f"; /*footer*/
}
.contenuto{
    max-width: 1200px; /*oltre i 1200px e' scommoda la lettura dl sito quindi e' un valore fisso che si puo' usare*/
    width: 100%;
    margin: auto;
}
/*
====================================================================================================================================
SEZIONE HEADER
====================================================================================================================================
*/
header{
    background-color: var(--menubgcolor);
    border-bottom: 10px double #1c0101 ;
}
header .contenuto{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-areas: "t l p";
    align-items: center;
    text-align: center;
    align-items: center;
}
#logo{
    display: grid;
    grid-area: l;
}
#logo h1{
    background-image: url("../img/logo_compresso.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;
    font-size: 6em;
    line-height: 1.5em;
    margin-top:0.3em;
}
#logo p{
    font-style: italic;
    font-weight: bold;
    color: #8b5437;
}

.bottoneMenu{
    display: none;
    grid-area: t;
}
#pulsantiMenu{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    grid-area: p;
}
/*
====================================================================================================================================
SEZIONE MENU'
====================================================================================================================================
*/

#menu{
    display: grid;
    background-color: var(--menubgcolor);
    color: var(--menutextcolor);
    font-size: 1.3em;
    width: 100%;
    grid-area: n;
}
#menu a:link{
    color:var(--menutextcolor)
}

#menu a:visited{
    color:var(--visitedcolor)
}
#menu a:hover{
    color:var(--menutextcurrentpage);
    background-color: var(--menubgcurrentpage);
    padding: 0.3em; 
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    border-radius:0.3em;
}


#menu ul{
    list-style-type: none;
    text-align: center;
}
#currentlink{
    background-color: var(--menubgcurrentpage);
    color: var(--menutextcurrentpage);
}
#menu ul li{
    display: inline;
    margin-top:auto;
    flex: 1 1 200px;
    padding: 1em 0.4em;
    /*border: 2px groove var(--menubgcurrentpage);*/
}
#menu .contenuto{
    padding: 0em;
    margin: 0em auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

}
/*
====================================================================================================================================
SEZIONE BREADCRUMB
====================================================================================================================================
*/
#breadcrumb{
    background-color: var(--breadcolor);
    color: var(--breadtxtcolor);
    font-size: 1.1em;
    border: 1px solid var(--menutextcolor);
    padding: 0.5em 0em 0.5em 1.0em;
}
#breadcrumb .contenuto{
    text-align: left;
    width: 100%;
    grid-area: b;
}
/*
====================================================================================================================================
SEZIONE MAIN
====================================================================================================================================
*/
main .contenuto{
    display: grid;
    grid-area: c;
    padding-top: 1.5em;
}
#presentazionePasticceria{
    background-color: var(--contentbgcolorscuro);
    color:var(--contenttxtcolorchiaro);
}
#prodottiPrincipali{
    background-color: var(--contentbgcolorchiaro);
    color: var(--contenttxtcolorscuro);
}
/*
====================================================================================================================================
SEZIONE FOOTER
====================================================================================================================================
*/
footer {
    margin-top: 1em;
    background-color: var(--breadcolor);
    color: var(--breadtxtcolor);
    display: grid;
    grid-area: f;
}
