name: Sync to Fork

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    if: github.repository == 'amerigovegliante/pastry-shop'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.SYNC_TOKEN }}

      - name: Push to Fork
        run: |
          git remote add fork https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/sass0lino/pastry-shop.git
          git push fork main --force